.new-article-title{
    text-align: center;
    margin: 32px auto 32px;
    font-size: 32px;
    color: #fff;
}

.new-article-sub-title{
    color: #fff;
    font-weight: bold;
    text-align: center;
}